.box {
    justify-content: center;
    align-items: center;
    display: flex;
}

.profile-container {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: block;
    width: 90%;
    height: auto;
}

.overlay-profile {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 80%;
    height: 84%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}