
.container {
    width: 90%;
    position: relative;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.video {
    height: 500px;
    width: 600px;
    border-radius: 16px;
}

.image {
    display: block;
    width: 90%;
    height: auto;
    border-radius: 50%;
}